@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: white;
}

#hello-div {
    height: 100vh;
    background-image: url('background5.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
}

#hello-div h1 {
    color: white;
}

/* 
.divider {
    height: 1px;
    background: white;
    color: white;
    width: 100%;
    margin: 20px auto;
} */

hr {
    width: 30%;
    border: none;
    border-top: 1px solid #ffffff;
    /* Change color and style as needed */
    margin-top: 10px;
    margin-bottom: 10px;
    /* Adds space above the divider */
}

.content {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    justify-content: left;
    align-items: start;
    text-align: left;
}

#hello-div span,
strike {
    color: white;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

#hello-div p {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: normal;
}