@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    font-family: "Raleway", sans-serif;

    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url('background6.jpg');
    background-position: top;
    background-size: contain;
    background-attachment: scroll;
    overflow-y: auto;
}

#hello-div {
    height: 100vh;
    /* background-image: url('background5.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /* Keep the background image fixed */
    overflow-y: auto;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
}

#hello-div::-webkit-scrollbar {
    display: none;
}

#hello-div {
    color: white;
}

hr {
    width: 45%;
    border: none;
    border-top: 1px solid #ffffff;
    /* Change color and style as needed */
    margin-top: 10px;
    margin-bottom: 10px;
    /* Adds space above the divider */
}

#content {
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
}

#content a {
    text-decoration: none;
    transition: 0.3s ease;
}

#content a:hover {
    color: rgb(64, 141, 183);
    text-decoration: none;
}

.info,
.socials {
    width: 30vw;
    justify-content: left;
    align-self: flex-start;
    text-align: left;
}

.info h1 {
    font-weight: 100;
}

.divider {
    align-self: flex-end;
    /* Align the projects div to the right */
    text-align: right;
    justify-content: right;
    width: 30%;
    border: none;
    border-top: 1px solid #ffffff;
    /* Change color and style as needed */
    margin-top: 10px;
    margin-bottom: 10px;
}

.niyojak,
.paradis,
.py-beginner,
.price-tracker {
    width: 30vw;
    align-self: flex-end;
    /* Align the projects div to the right */
    text-align: right;
    justify-content: right;
    /* Align the text inside the projects div to the right */
}

/* .price-tracker {
    padding-bottom: 60px;
} */

.niyojak h1,
.socials h1,
p {
    font-weight: 300;
    padding-bottom: 7px;
}

h2 {
    font-weight: 300;
    padding-bottom: 7px;
}

#hello-div span,
strike {
    color: white;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

#hello-div p {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.copyright {
    font-size: 12px;
    padding-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.icon {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.icon i {
    font-size: 2em;
    margin-right: 10px;
}