@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url('background6.jpg');
    background-position: top;
    background-size: contain;
    background-attachment: scroll;
    overflow-y: auto;
}

#hello-div {
    height: 100vh;
    overflow-y: auto;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
}

#hello-div::-webkit-scrollbar {
    display: none;
}

#hello-div {
    color: white;
}

hr {
    width: 60%;
    border: none;
    border-top: 1px solid #ffffff;
    /* Change color and style as needed */
    margin-top: 10px;
    margin-bottom: 10px;
    /* Adds space above the divider */
}

#content {
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
}

#content a {
    text-decoration: none;
    transition: 0.3s ease;
}

#content a:hover {
    color: rgb(255, 0, 0);
    font-weight: 400;
    text-decoration: none;
}

.info,
.socials {
    width: 30vw;
    justify-content: left;
    align-self: flex-start;
    text-align: left;
    padding-bottom: 10px;
}

#real-span {
    font-family: "Raleway", sans-serif;
    color: rgb(255, 19, 19);
    font-weight: 400
}

.info h1 {
    font-weight: 100;
}

.divider {
    align-self: flex-end;
    /* Align the projects div to the right */
    text-align: right;
    justify-content: right;
    width: 45%;
    border: none;
    border-top: 1px solid #ffffff;
    /* Change color and style as needed */
    margin-top: 10px;
    margin-bottom: 10px;
}

.niyojak,
.paradis,
.py-beginner {
    padding-bottom: 10px;
}

.heading2,
.niyojak,
.paradis,
.py-beginner,
.price-tracker {
    width: 30vw;
    align-self: flex-end;
    /* Align the projects div to the right */
    text-align: right;
    justify-content: right;
    /* Align the text inside the projects div to the right */
}

.price-tracker {
    padding-bottom: 10px;
}

.heading2 h1 {
    font-weight: 100;
    padding-bottom: 0;
}

.socials h1 {
    font-weight: 100;
    padding-bottom: 4px;
}

h3 {
    padding-bottom: 5px;
    font-weight: 500;
}

#hello-div .typefont,
strike {
    color: white;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.info p {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.niyojak p,
.paradis p,
.py-beginner p,
.price-tracker p,
.socials p {
    font-weight: 200;
}

.copyright {
    font-size: 12px;
    padding-bottom: 10px;
}

.copyright p {
    font-weight: 200;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.icon {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.icon i {
    font-size: 1.6em;
    margin-right: 10px;
}

@media only screen and (max-width: 477px) {

    #content {
        width: 70vw;

    }


    .socials,
    .heading2,
    .niyojak,
    .paradis,
    .py-beginner,
    .price-tracker {
        width: 60vw;
    }

    .info h1 {
        width: 50vw;
    }

    .info {
        width: 60vw;
    }

    .copyright {
        font-size: 10px;
        padding-bottom: 10px;
    }
}